ion-item {
    --ion-background-color: rgb(136, 221, 111) ;
};

@media (max-width: 700px) {
    ion-content {
        --ion-background-color: rgb(182, 237, 253);
    };
}

@media (min-width: 500px) {
    ion-content {
        --ion-background-color: rgb(228, 29, 218);
    };
}


@media (orientation: portrait){
    .id {display: none}
}

@media (orientation: landscape){
    .name {display: none}
}



